{% extends "base.html" %}
{% block title %}{{ topic.topic_title }}{% endblock %}
{% block content %}
    <table border="1">
    {% for obj,user in posts %}
        <tr>
            <td valign="top">
                <img src="{{ user.gravatar_url }}" alt="Gravatar"/><br/>
                <em>{{ user.username }}</em><br/>
                {{ obj.datetime|date:"Y-m-d_H:i" }}
            </td>
            <td valign="top">
                <strong>{{ obj.post_subject|safe }}</strong>
                <br/><br/>
                {{ obj.post_text|safe }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}